@* login1 Template File *@
@()

@main("Login") {
<h2>Login</h2>

    <form method="get" action="validateGet1">
        <h3>Login with GET</h3>
        Username: <input type="text" name="username"/>
        </br>
        Password: <input type="password" name="password"/>
        </br>
        <button type="submit"/>Login</button>
    </form>

    <form method="post" action="@routes.TaskList1.validateLoginPost()">
        <h3>Login with POST</h3>
        Username: <input type="text" name="username"/>
        </br>
        Password: <input type="password" name="password"/>
        </br>
        <button type="submit"/>Login</button>
    </form>
    
}