@()(implicit request: RequestHeader, flash: Flash)

@main("Task List (version 3)") {
<div id="contents">version 3</div>

<div id="login-section">
    <h2>Login</h2>
    <br>
    Username: <input type="text" name="username" id="loginName"/>
    </br>
    Password: <input type="password" name="password" id="loginPassword"/>
    </br>
    <button onclick="login()"/>Login</button>


    <h2>Create User</h2>
    <br>
    Username: <input type="text" name="username" id="createUsername"/>
    </br>
    Password: <input type="password" name="password" id="createPassword"/>
    </br>
    <button onclick="createUser()"/>Create User</button>
    <br>
</div>

<div id="task-section" hidden>
    <h2>Task List</h2>

    <ul id="task-list">

    </ul>

    <input type="text" id="newTask"/>
    <button onclick="addTask()">Add Task</button>


    <div>
        <a href="@routes.TaskList2.logout()" id="logout">Logout</a>
    </div>
</div>

<input type="hidden" id="csrfToken" value="@helper.CSRF.getToken.value">

<input type="hidden" id="validateRoutePost" value="@routes.TaskList3.validate()">
<input type="hidden" id="tasksRoute" value="@routes.TaskList3.taskList()">
<input type="hidden" id="createRoute" value="@routes.TaskList2.createUser()">
<input type="hidden" id="deleteTaskRoute" value="@routes.TaskList3.deleteTask">
<input type="hidden" id="addTaskRoute" value="@routes.TaskList3.addTask">

<script src="@routes.Assets.versioned("javascript/version3.js")"></script>
<!-- <script src="@routes.TaskList2.generatedJS()"></script> -->
}